.react-kanban-column {
    border-radius: 8px;
}

.react-kanban-column:first-child {
    background: #5659D6; 
}

.react-kanban-column:nth-child(2) {
    background: #F2AE53 
}

.react-kanban-column:nth-child(3) {
    background: #19BABE;
}

.react-kanban-column:nth-child(4) {
    background: #5AC57D;
}

.react-kanban-column-header {
    color: #fff;
}


.react-kanban-card {
    border-radius: 8px;
}